<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container my-4">
    <h1 class="mb-4">Desafio NUTI</h1>
    <button type="button" class="btn btn-primary" onclick="window.location.href='formulario';">Identificar Tags</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='formulario_busca';">Buscar Tags por URL</button>
</div>
</body>
</html>
